<section class="myCart" *ngIf="products.length == 0">
  <h1>My Cart</h1>
  <div class="cart-center">
    <img src="" alt="" />
    <h2>Your cart is empty</h2>
    <h5>Add item to it now</h5>
    <button routerLink="/products">Shop Now</button>
  </div>
</section>
<section *ngIf="products.length != 0">
  <div class="container">
    <div class="card-table">
      <div class="cart-products">
        <table>
          <thead>
            <tr>
              <th>Sr.no</th>
              <th>Product name</th>
              <th>Product image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.title}}</td>
                <td><img style="width :120px" src="{{item.image}}" alt=""></td>
                <td style="width: 25%;">{{item.description}}</td>
                <td style="width: 12%;">{{item.price}}</td>
                <td style="width: 12%;">{{item.quantity}}</td>
                <td style="width: 12%;">{{item.total}}</td>

                <td>
                  <button (click)="removeItem(item)" mat-button color="warn">Delete</button>
                </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button mat-button color="warn" (click)="emptyCart()">Empty cart</button></td>
              <td><button mat-button color="primary" routerLink="/products">Shop more</button></td>
              <td><button mat-button color="warn">Chekout</button></td>
              <td><strong>grand Total : ${{grandtotal}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>
